.navbar{
    background-color: #273032;
    color: #FCFCFC;
    display: flex;
    width: 100%;
    height: 65px;
    z-index: 1000;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 7%);
    align-items: center;
}

.navbar__heading{
    font-size: 40px;
    font-weight: 900;
}

.navbar__location{
    width: 25%;
    margin-left: 15px;
    border: none;
    border-right: 5px solid black;
    
}

#location-select {
    width: 100%;
    height: 43px;
    border-radius: 20px 0px 0px 20px ;
}

.navbar__search{
    width: 75%;
    margin-right: 20px;
    border-radius: 0 5px 5px 0;
}

#searchbox{
    width: 100%;
    height: 43px;
    border-radius: 0px 20px 20px 0px;
    margin-left: -3px;
}

.searchbox{
    display: flex;
    width: 60%;
    border: 1.5px solid #FCFCFC;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 5px;

}

.navbar__items{
    display: flex;
    height: 60px;
}

.navbar__category{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
    font-size: 15px;
    text-decoration-color: #FCFCFC;
}

.navbar__login{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.line1 {
    font-size: 20px;
}

.navbar__cart {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 20px;
}